<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
    <link rel="stylesheet" href="/static/index.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
</head>
<body>
    <div class="main">
        <h1 style="text-align: center;">UNDER CONSTRUCTION</h1>
        <h3 style="text-align: center;">You Can Login <a href="login">Here</a> And Try Our <a href="admin">Admin Panel!</a></h3>
        <h4 style="position: absolute; bottom: 0px;left: 50%;transform: translateX(-50%);text-align: center;">Copyrights © 2024 By <a href="https://h3l2f.site">h3l2f</a>. All rights reserved.</h4>
    </div>
</body>
</html>